 .flip-card {
     position: relative;
     transition: transform 0.8s;
     transform-style: preserve-3d;
     cursor: pointer;
     perspective: 2000px;
 }

 .flip-face {
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     /* 隐藏背面 */
 }

 .flip-front {
 }

 .flip-back {
     transform: rotateY(180deg);
     /* 背面翻转180度 */
     position: absolute;
 }

 .flip-card:hover .flip-front {
    position: absolute;
 }
 .flip-card:hover .flip-back {
    position: relative;
 }

 .flip-card:hover {
     transform: rotateY(180deg);
     /*鼠标悬停时,旋转180度,将背面展示出来*/
 }